@model IEnumerable<ContactInfo.ViewModels.ContactViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContactId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContactId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if (@item.Status == true)
            {
              <span>Active</span>
            }
            else
            {
                <span>Inctive</span>
            }


        </td>



        <td>
            @Html.ActionLink("Edit", "Edit", new { contactId = @item.ContactId }) |
            @Html.ActionLink("Details", "Details", new { contactId = @item.ContactId }) |
            @Html.ActionLink("Delete", "DeleteView", new { contactId = @item.ContactId })
        </td>
    </tr>
}

</table>
